<div id="about">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="row" style="margin-top: 25px">
        <div class="col-lg-12">
            <p>Angela worked in the banking industry for 25 years helping clients with their
                financial needs.  Her strength is customer service.  She cares for people very
                much and realized she wanted to help people in a different way.  Skin care is
                something she was always interested in, as well as helping people to feel good
                about themselves!  There is nothing better than having your client end their service
                by telling you how great their skin feels!</p>

            <p>Angela’s focus is all about you, the client.  Her mission is to give her clients
                a comfortable environment that is private and relaxing as well as providing
                services that best suit your skin care needs.  Although there is a service menu,
                each and every client’s individual needs will be different.   Any facial can be
                customized according to your skin skin care needs.</p>
        </div>
    </div>

</div>