<div  data-ng-controller="serviceMenu as vm" >

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Service Menu</h2>
        </div>
    </div>
    <div class="row"  style="margin-top: 25px">
        <div class="col-lg-12">
            <div class="serviceArea" >EYELASH EXTENSIONS:</div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Full Set:</span>
                    <span class="servicePrice">$120</span>
                    <span class="serviceTime">(3 - 4 hours)</span>
                </div>
                <div>
                    <span class="serviceName">Fills:</span>
                    <span class="servicePrice">$45</span>
                    <span class="serviceTime">(2 hours)</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="serviceArea" >FACIAL TREATMENTS: All facial treatments include a hand, arm and scalp massage!</div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Pumpkin Enzyme:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">Natural pumpkin enzymes combined with Lactic and Glycolic acid will help to diminish fine lines, hyperpigmentation, and remove dull surface skin cells.  These products will infuse hydration into the skin as wells as botanicals to help protect the skin from free radicals and finishes with solar protection aid to rebalance and protect the skin barrier. Gentle enough for all year long but especially great for end of summer to slough off dead skin cells.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Age Management:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">This treatments uses products to help remove toxins and dead skin cells, helps restore the skin back to a healthy status, infuses hydration deep into the skin, uses peptides to target fine lines and wrinkles, and finishes with solar protection aid to rebalance and protect the skin barrier.  Great for dehydrated or environmentally challenged skin!</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Acne Management:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $40</span>
                </div>
                <div class="serviceDescription">For mild to moderate acne.  This treatment uses products that include ingredients such as Salicylic acid, Tea Tree Oil, and Sulfur that assist in the processes of deep cleansing pores, minimizing inflammation and helps to reduce bacteria.  Additional products used contain deeply hydrating, pure and fresh botanicals to help protect living skin cells against free radicals and distribute nutrients to skin cells and finishes with solar protection aid to rebalance and protect skin barrier.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Wrinkle Reduction:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $55</span>
                </div>
                <div class="serviceDescription">This treatment uses products containing Alpha Hydroxy Acids, peptides and stem cells that assist in the processes of infusing hydration deep into the skin, cellular turnover, regenerating aged cells, tissue repair, minimize fine lines and wrinkles, as well as help to prevent against future damage and finishes with solar protection aid to rebalance and protect skin barrier.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">O2 Deep Pore Exfoliation:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $55</span>
                </div>
                <div class="serviceDescription">This treatment combines innovative and specialized technology to assist in cellular renewal of the skin.  With the use of oxygenation and enzymatic exfoliation, these powerhouse products will hydrate and brighten, creating a healthier and younger-acting skin.  Ending with solar protection aid to rebalance and protect skin barrier.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Super C Exfoliant:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $70</span>
                </div>
                <div class="serviceDescription">This antioxidant rich treatment is ideal for aging, hyperpigmented and environmentally-challenged skin.  These products will work together to aide in the appearance of fine lines & wrinkles, pore size and assist in creating a radiant effect on the skin.  Ending with solar protection aid to rebalance and protect skin barrier.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Mens Facial:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">The products used in this treatment are designed for men.  Deep pore cleanse, exfoliation, facial massage, hydrating masque, steam towels, moisturizer and solar protection.  Men should have facials too!.</div>
            </div>

            <div class="serviceType" >
                <div>
                    <span class="serviceName">Back Treatment:</span>
                    <span class="serviceTime">(50 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">This is a facial on your back!  Enjoy cleansing, exfoliation, a natural pumpkin enzyme product with Lactic and Glycolic acid to assist with removal of dead skin cells and is  covered with plastic wrap to penetrate into the skin.  Includes steam towels, light back massage, arm and hand massage and hydrating body cream.</div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >ADD ONS: Can be done individually or added to any facial treatment.</div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Chocolate Peppermint Lip Treatment:</span>
                    <span class="serviceTime">(20 minutes)</span>
                    <span class="servicePrice">... $10</span>
                </div>
                <div class="serviceDescription">Brighten, moisturize and plump the lip area with these luxurious and stimulating products.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Puffy/Dark Eye Treatment:</span>
                    <span class="serviceTime">(5 minutes)</span>
                    <span class="servicePrice">... $5</span>
                </div>
            </div>
            <!--<div class="serviceType" >-->
            <!--<div>-->
            <!--<span class="serviceName">Paraffin Wax:</span>-->
            <!--<span class="serviceTime">(10 minutes)</span>-->
            <!--<span class="servicePrice">... $10</span>-->
            <!--</div>-->
            <!--<div class="serviceDescription">Relaxing hot scented wax that infuses softness deep into skin tissue.  Can be done on hands or feet.</div>-->
            <!--</div>-->
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >CHEMICAL PEELS:
                These treatments achieve the best results when done in a series of 3 to 5 and performed 2 to 3 weeks apart.  How you treat your skin at home, before and after a treatment is critically important to your success.  Regular use of a simple, customized regimen will provide you with even more dramatic results. Chemical Peels include a Post Peel Care kit. ($27.00 Value).
            </div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Anti-Aging Treatments:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $85</span>
                </div>
                <div class="serviceDescription">These treatments are customized to treat and control fine lines, wrinkles, sun damage, uneven skin texture and laxity.  Regular treatments help to achieve and maintain a fresh bright, youthful complexion.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Hyperpigmentation Treatments:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $85</span>
                </div>
                <div class="serviceDescription">These treatments are designed to assist in the diminishing of dark spots which can be created from the sun, pregnancy or past blemishes.  They address the underlying causes of unwanted pigment to even-out our complexion.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Acne Treatments:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $65</span>
                </div>
                <div class="serviceDescription">These customized breakout-clearing treatments simultaneously address all of the four main causes of acne, leading to an even,clear complexion.  The skin is infused with antibacterial acne controlling ingredients.</div>
            </div>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >RETINOID TREATMENTS:
                Create a mild occlusion to enhance absorption of the vitamins, antioxidants and rich actives into the skin for maximum benefits.  They can be ADDED as a booster to Chemical Peels or used on their own.
            </div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Ultra Peel II:</span>
                    <span class="serviceTime">(5 mins if added onto a Chemical Peel)... $10</span>
                    <span class="servicePrice">(30 mins if on own)... $45</span>
                </div>
                <div class="serviceDescription">An advanced exfoliation treatment that promotes bright, even skin tone and moisturizes aging skin.  The vitamin A content exfoliates and helps keep skin looking fresh, while Vitamin C minimizes the appearance of fine lines and wrinkles.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Esthetique Peel:</span>
                    <span class="serviceTime">(5 mins if added onto a Chemical Peel)... $10</span>
                    <span class="servicePrice">(30 mins if on own)... $45</span>
                </div>
                <div class="serviceDescription">Smoothes and brightens the skin while promoting a clear complexion.  Its advanced antioxidants, vitamins, humectants and brightening ingredients and helps promote a glowing, even skin tone.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >THERAPEUTIC MASKS:</div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Hydrate:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">Oat Milk Mask is strategically formulated to soothe and hydrate impaired skin conditions of all kinds.  A host of actives including oat milk, honey, arnica and cucumber provide deep, soothing hydration.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Revitalize:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">Papaya Mask combines papaya puree and additional fruit extracts from lemon, orange and apple to brighten dull complexions and exfoliate, leaving the skin with a healthy glow.  Green tea vitamin E and honey are moisturizing antioxidants that help keep the skin soft and hydrated.  This results-oriented therapeutic mask is appropriate for all skin types and conditions.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Clarify:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">Salicylic Acid Mask is a blend of 20% salicylic acid with antioxidant and botanical ingredients to brighten dull complexions.  Its exfoliating and calming action refines skin texture for a clear, smooth complexion.</div>
            </div>
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Retexturize:</span>
                    <span class="serviceTime">(30 minutes)</span>
                    <span class="servicePrice">... $45</span>
                </div>
                <div class="serviceDescription">Pumpkin Mask is an active blend of enzymes, vitamins and nutrients that simultaneously nourishes and exfoliates while drawing impurities out of the skin.  Pumpkin enzymes and salicylic acid smooth the skin by removing the dead surface cells that cause rough texture.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >WAXING:
                Face (includes brows, cheeks, lip area and chin): - $25  (or $10 each)
            </div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Face (includes brows, cheeks, lip area and chin):</span>
                    <span class="serviceTime">$20  (or $7 each)</span>
                </div>
                <div>
                    <span class="serviceName">Underarms</span>
                    <span class="serviceTime">15</span>
                </div>
                <div>
                    <span class="serviceName">Arms</span>
                    <span class="serviceTime">Half - $20</span>
                    <span class="serviceTime">Full - $30</span>
                </div>
                <div>
                    <span class="serviceName">Legs</span>
                    <span class="serviceTime">Half - $35</span>
                    <span class="serviceTime">Full - $60</span>
                </div>
                <div>
                    <span class="serviceName">Back</span>
                    <span class="serviceTime">$40</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="serviceArea" >TINTING:
            </div>
        </div>
        <div class="col-lg-12">
            <div class="serviceType" >
                <div>
                    <span class="serviceName">Brows:</span>
                    <span class="servicePrice">$12</span>
                </div>
                <div>
                    <span class="serviceName">Eyelashes</span>
                    <span class="serviceTime">$15</span>
                </div>
                <div>
                    <span class="serviceName">Both</span>
                    <span class="servicePrice">$25</span>
                </div>

            </div>
        </div>
    </div>


</div>